<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit Snippet</title>
    <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta20/shoelace.css">
    <link rel="stylesheet" type="text/css" href="style.css"/>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <h1 class="page-title">Edit Code Snippet</h1>
        {{#snippet}}
        <form class="new-snippet" action="/{{title}}/edit" method="post">
          <p>
            <label for="author">Author:</label>
            <input type="text" name="author"
            {{#user}} value="{{username}}" {{/user}} readonly>
          </p>
          <p>
            <label for="title">Title:</label>
            <input type="text" name="title" value="{{title}}" placeholder="Please Enter Title" autofocus>
          </p>
          <p>
            <label for="body">Body:</label>
            <textarea name="body" rows="8" cols="80" placeholder="Enter Code Snippet Here">{{body}}</textarea>
          </p>
          <p>
            <label for="notes">Notes:</label>
            <textarea name="notes" rows="8" cols="80" placeholder="Enter Notes Here">{{notes}}</textarea>
          </p>
          <p>
            <label for="language">Language:</label>
            <input type="text" name="language" value="{{language}}" placeholder="Enter Language Here">
          </p>
          <p>
            <label for="tags">Tags:</label>
            <input type="text" name="tags" value="{{tags}}" placeholder="Enter Tags Here">
          </p>
          <p>
            <button type="submit" name="button">Update Code Snippet</button>
          </p>
        </form>
        {{/snippet}}
        <p>
          <a class="button" href="/">Go Back Home</a>
        </p>
      </fieldset>

    </div>

  </body>
</html>
